@mixin header{
    background-image: url(../imagenes/header3.svg);
    height: 11.875rem;
    background-size: cover;
    position: sticky;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

@mixin footer{
        position: static;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: #ff937a;
        background-size: cover;
        height: 6.875rem;
}