.container-fluid {
    padding: 0%;
}

/* HEADER */
header {
    @include headeryformat;
}

/* NAVEGACION */
.navbar {
    @include navbar;
}

/* ENCABEZADO */
.productosp {
    @include encabezado;
}

/* PAGINA PRODUCTOS */
.mb-3 {
    margin: 0rem 1rem;
        &:hover {
            transition: 300ms;
            box-shadow: 0.3rem 0.3rem 0.7rem #00000063;
        }
}

.gridcontainerproductos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas:
        "fila 1 fila 1"
        "fila 2 fila 2"
        "fila 3 fila 3"
        "fila 4 fila 4"
        "fila 5 fila 5"
        "fila 6 fila 6"
        "fila 7 fila 7"
        "fila 8 fila 8";
    grid-column-gap: 0.125rem;
    grid-row-gap: 0.125rem;
    align-items: center;
    justify-items: center;
}

.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5%;
    margin: 0.5rem 0.5rem;
}

.Fotoproducto {
    display: inline-block;
    /* border-radius: 5%; */
    width: 12rem;
    height: 12rem;
    margin: 0.75rem 0.75rem;
    transition: 2s;
}

.textimg {
    display: flex;
    justify-content: center;
    margin: 0.125rem 0.125rem;
    font-weight: bolder;
}

/* FOOTER */
footer {
    @include footer;
}