*   {
    padding: 0%;
    margin: 0%;
    /* font-family: 'Lora', serif; */
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Poppins', sans-serif;
}
/* HEADER */

header {
    background-image: url(../imagenes/header3.svg);
    height: 11.875rem;
    background-size: cover;
    position: sticky;
}

.logo img{
    /* display: inline-block; */
    width: 8.125rem;
    /* animation-name: logo;
    animation-duration: 4s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite; */
} 

.header{ 
    display: flex;
    flex-wrap: wrap;      /* TAMBIEN SE PUEDE HACER CON flex-flow: row wrap;*/
    flex-direction: row;
    justify-content: space-around; 
    align-items: center;
}
/* NAVEGACION */

.navbar{
    display: flex;
    justify-content: center;
    padding: 0.25rem 0.5rem;
}

.navbar li{
    background-color: #ffddd2;
    display: inline-block;
    font-size: 1.375rem;
    padding: 0.313rem 0.625rem;
    margin: 0.188rem 0.25rem;
    border-radius: 0.375rem;
    text-decoration: none;
} 

.navbar a{
    text-decoration: none;
    color: black;
}

.navbar a:hover{
    text-decoration: none;
    color: grey;
}

/* PAGINA INICIO */

.title1{
    font-size: 3.6rem;
    display: inline-block;
}

.title2{
    display: inline-block;
    font-size: 1.6rem;
    font-style: italic;
} 

.parrafo p {
    display: flex;
    justify-content: center;
    font-family: 'Parisienne';
    font-size: x-large;
    text-align:center;
    margin: 1.875rem 6.25rem;
}

.imgs{
    display: flex;
    flex-wrap: wrap; 
    flex-direction: row;
    /*flex-flow: row wrap;*/
    justify-content: space-evenly; 
    align-items: baseline;
}

.imgs img{
    width: 13.75rem;
    height: 13.75rem;
    border-radius:0.438rem;
    margin: 2.5rem 0rem;
}

body{
    background-image: url(../imagenes/background.png);
}

footer {
    position:static;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #ffd2c8;
    /* background-image: url(../imagenes/footer.svg); */
    background-size: cover;
    height: 6.875rem;
}

.copyright{
    font-size: 0.813rem;
    display: inline-block;
    font-weight: bold;
    margin: 0rem 0rem 0rem 3.125rem;
}

.arriba{
    display: inline-block;
    align-content: end;
    font-size: 1.125rem;
    text-decoration:underline;
    color: black;
}
.arriba a{
    text-decoration: none;
    color: black;
}

.arriba a:hover{
    text-decoration: none;
    color: grey;
}

.links {
    display: inline-block;
    margin: 0rem 3.125rem 0rem 0rem;
}

.links a {
    margin: 0rem 0.25rem;
}
.links img{
    width: 2rem;
}

/* PAGINA PRODUCTOS */
.productosp {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 700;
    font-style: italic;
    margin: 1rem 0rem;
}

.gridcontainerproductos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas:
    "fila 1 fila 1"
    "fila 2 fila 2"
    "fila 3 fila 3"
    "fila 4 fila 4"
    "fila 5 fila 5"
    "fila 6 fila 6"
    "fila 7 fila 7"
    "fila 8 fila 8"
    ;
    grid-column-gap: 0.125rem;
    grid-row-gap: 0.125rem;
    align-items: center;
    justify-items: center;
}

.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: #d6d6d6; */
    /* border: 0.063 solid black; */
    border-radius: 5%;
    margin: 0.5rem 0.5rem;
}
.Fotoproducto{
    display: inline-block;
    /* border-radius: 5%; */
    width: 12rem;
    height: 12rem;
    margin: 0.75rem 0.75rem;
    transition: 2s;
}

.textimg{
    display: flex;
    justify-content: center;;
    margin: 0.125rem 0.125rem;
    font-weight: bolder;
}

/* .contenedor:hover .textimg{
    position: relative;
    visibility: visible;
    display: block;
    bottom: 0.625rem;
    right: 44%;
    color:black;
} */



/* PAGINA NOSOTROS */

.mainnosotros{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 3.125rem 0rem 3.125rem 0rem;
}

.sandrayaylen{
    width: 22rem;
    height: 22rem;
}

.sandrayaylen:hover  {
    transition: 300ms;
    box-shadow: 0.3rem 0.3rem 0.7rem #00000063;
}

.textycorazon{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    margin: 0rem 2rem;
}
.pnosotros{
    display: inline-block;
    width: 31.25rem;
}

.corazon{
    display: flex;
    width: 4.688rem;
    margin: 1.25rem 1.25rem;
}

/* PAGINA HACE TU PEDIDO  */
.gridcontainerhtp{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
    "fila 1 fila 1 fila 1"
    "fila 2 fila 2 fila 2"
    "fila 3 fila 3 fila 3"
    "fila 4 fila 4 fila 4"
    "fila 5 fila 5 fila 5"
    ;
    grid-column-gap: 0.125rem;
    grid-row-gap: 0.125rem;
    align-items: center;
    justify-items: center;
}

.gridcontainerhtp .producto{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d6d6d6;
    border-radius: 5%;
    /* margin: 0.938rem 0.438rem; */
    margin: 0.9rem 0.5rem;
    width: 14.375rem;
}

.checkbox{
    display: inline-block;
    margin: 0.25rem 0.25rem;
    justify-items: center;
    align-items: center;
    box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25)
}

.cardshtp{
    margin: 1rem 1rem;
}
.carrito {    
    background-color: #e9e9e9;
    padding: 0.2rem 0.3rem;
    display: flex;
    width: fit-content;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    border-radius: 3%;
}

.carrito p{
    margin: 0rem;
}
.confpedido{
    display: flex;
    justify-content: flex-end;
}
.confpedido button{
    margin: 1.25rem 2.5rem;
    padding: 0.125rem 0.188rem;
}

.pespeciales {
    display: flex;
    justify-content: center;
    font-size:larger;
    margin: 1.875rem 0rem;
}

.pespeciales a{
    text-decoration: none;
    color: black;
}
.pespeciales a:hover{
    text-decoration:underline;
    color: #0000b1;
}

/* PAGINA CONTACTO */

.mapa{
    display: flex;
    justify-content: center;
    margin: 0.5rem
}

.form{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 1.5rem 0rem;
}
.form input{
    display: inline-block;
    border: solid black 0.125rem;
    border-radius: 2%;
    width: 12.5rem;
    height: 1.875rem;
    margin: 0.5rem 1rem;
}

.comentarios{
    display: flex;
    flex-direction: column;
}

.texta {
    display: flex;
    justify-content: center;
    align-items: center;
}
.texta textarea{
    display: flex;
    border: solid black 0.125rem;
    width: 25rem;
    height: 10rem;
    margin: 1rem;
}

.botones{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0rem 1.25rem;
}
.botones button{
    width: 9rem;
    margin: 0.3rem 1.3rem;
}

#limpiar {
    display: inline-block;
    margin-right: 0rem 0.625rem;
}

.bodycontacto{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin: 2.5rem 0rem;
}


/* TAMAÑO TABLET */
@media screen and (max-width: 768px){
    .title1 p{
        font-size: 2.8rem;
        display: inline-block;
    }
    .title2 p{
        display: inline-block;
        font-size: 1.6rem;
        font-style: italic;
    } 
    .navbar li{
        font-size: 1.25rem;
    } 
    .header {
        flex-direction: column;
        justify-content: center;
        align-content: space-evenly;
        height: 10rem;
    }
    .footer {
        flex-direction: column;
        justify-content: center;
    }
    .navbar {
        flex-direction: column;
        align-items: stretch;
        
    }
    .navbar li{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .pespeciales{
        align-items: center;
        text-align: center;
    }
    .bodycontacto{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .form{
        margin: 1.875rem 0rem 1.25rem 0rem;
    }
    .form input{
        width: 17rem;
        margin: 0.6rem;
    }
    .botones{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .texta{
        margin: 0rem;
    }
    .texta textarea{
        width: 17rem;
        margin: 1rem 1rem;
    }
    .comentarios{
        margin: 0rem;
    }
    .botones button{
        width: fit-content;
        margin: 0.3rem 0rem;
    }
    .imgs{
        margin-top: 1.25rem;
    }
    .imgs img {
        margin: 1.25rem 2.5rem;
    }
    .gridcontainerproductos{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(8, 1fr);
        grid-template-areas:
        "fila 1 fila 1"
        "fila 2 fila 2"
        "fila 3 fila 3"
        "fila 4 fila 4"
        "fila 5 fila 5"
        "fila 6 fila 6"
        "fila 7 fila 7"
        "fila 8 fila 8"
    ;
        grid-column-gap: 0.125rem;
        grid-row-gap: 0.125rem;
        align-items: center;
        justify-items: center;
        margin-bottom: 1rem;
    }
    .gridcontainerhtp{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(8, 1fr);
        grid-template-areas:
        "fila 1 fila 1"
        "fila 2 fila 2"
        "fila 3 fila 3"
        "fila 4 fila 4"
        "fila 5 fila 5"
        "fila 6 fila 6"
        "fila 7 fila 7"
        "fila 8 fila 8"
        ;
        grid-column-gap: 0.125rem;
        grid-row-gap: 0.125rem;
        align-items: center;
        justify-items: center;
    }
    .textycorazon{
        margin: 0rem 0rem;
    }
    .mainnosotros{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1.875rem 0rem 1.875rem 0rem;
    }
    .sandrayaylen{
        margin: 1.25rem 0rem 3.125rem;
    }
    .pnosotros{
        text-align: justify;
    }
}

/* TAMAÑO CELU */
@media screen and (max-width: 426px){
    /* CODEAR ACA LO QUE SE MODIFICARIA A PARTIR DE ESTE TAMAÑO(CUANDO LLEGA A 1200 QUE PASE LO SIGUIENTE:) */
    .logo img{
        margin: 0.5rem 0rem 0rem 0rem;
        width: 5rem;
        height: 5rem;
    }
    .textycorazon{
        margin: 0rem 0rem;
    }
    .links {
        margin: 0.625rem 0.625rem;
    }
    .links img{
        width: 1.25rem;
    }
    .copyright{
        font-size: 0.625rem;
        margin: 0rem 0rem 0rem 0.625rem;
    }
    .carrito {
        margin: 0.188rem 0rem;
    }
    .Fotoproducto {
        border-radius: 3%;
        width: 10.5rem;
        height: 10.5rem;
        /* margin: 0.5rem 0.5rem; */
        transition: 2s;
    }
    
    .gridcontainerhtp .producto{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #d6d6d6;
        border-radius: 5%;
        margin: 0.938rem 0.438rem;
        width: 11.875rem;
        height: 16rem;
    }
    .gridcontainerhtp .producto p{
        margin: 0rem;
    }
    .gridcontainerhtp .producto{
        align-content: center;
    }
    .title1{
        font-size: 0rem;
        display: inline-block;
    }
    .title2{
        font-size: 0rem;
        display: inline-block;
    } 
    .title1 p{
        font-size: 2rem;
        display: inline-block;
        margin: 0rem;
    }
    .title2 p{
        display: inline-block;
        margin: 0rem;
        font-size: 1.2rem;
        font-style: italic;
    } 

    .arriba{
        display: inline-block;
        align-content: end;
        font-size: 0.813rem;
        color: black;
    }
    
    .mapa{
        margin: 0.625rem 0.625rem;
    }
    .parrafo p {
        margin: 1.25rem 0.938rem;
        font-size: 1.4rem;
    }
    .header {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: space-evenly;
        height: 10rem;
    }
    .footer {
        flex-direction: column;
        justify-content: center;
    }
    .navbar {
        flex-direction: column;
        align-items: stretch;
    }
    .navbar li{
        display:flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: stretch; */
    }
    .pespeciales{
        align-items: center;
        text-align: center;
    }
    .bodycontacto{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .form{
        margin: 1.875rem 0rem 1.25rem 0rem;
    }
    .form input{
        width: 16.875rem;
        margin: 0.625rem;
    }
    .botones{
        flex-direction: column;
        align-items: center;
    }
    .texta{
        margin: 0rem;
    }
    .texta textarea{
        margin: 1.25rem 1.25rem;
    }
    .comentarios{
        margin: 0rem;
    }
    .botones button{
        width: 16.875rem;
        margin: 0.313rem 0rem;
    }
    .imgs{
        margin-top: 1.25rem;
    }
    
    .imgs img {
        width: 9.375rem;
        height: 9.375rem;
        margin: 0.625rem 0.625rem;
    }
    .gridcontainerproductos{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(16, 1fr);
        grid-template-areas:
        "fila 1 fila 1"
        "fila 2 fila 2"
        "fila 3 fila 3"
        "fila 4 fila 4"
        "fila 5 fila 5"
        "fila 6 fila 6"
        "fila 7 fila 7"
        "fila 8 fila 8"
        ;
        grid-column-gap: 0.125rem;
        grid-row-gap: 0.125rem;
        align-items: stretch;
        justify-items: stretch;
    }

    .gridcontainerhtp{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas:
        "fila 1 fila 1 "
        "fila 2 fila 2 "
        "fila 3 fila 3 "
        "fila 4 fila 4 "
        "fila 5 fila 5 "
        "fila 6 fila 6 "
        ;
        grid-column-gap: 0.125rem;
        grid-row-gap: 0.125rem;
        align-items: center;
        justify-items: center;
    }
    .mainnosotros{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1.875rem 0rem 1.875rem 0rem;
    }
    .sandrayaylen{
        margin: 1rem 2rem;
    }

    .pnosotros{
        text-align: justify;
        margin: 0.313rem 0.625rem;
        width: auto;
    }
}